In [1]:
import os
import pandas as pd

In [11]:
filepath = os.path.join('data', 'cities.csv')
output = "data/cities.html"

In [12]:
df = pd.read_csv(filepath, delimiter=',')
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [ ]:
df.to_html(output, index=False)

In [21]:
def create_html_table(x):

    row_data = ''

    for i in range(x.shape[0]):

        for j in range(x.shape[1]):        
            if ((i % 2) != 0) & (j == 0): #not an even row and the start of a new row
                row_data += '\n<tr>\n <th scope="row">'+str(x.iloc[i,j])+'</th>'

            elif j == 0: #The first column
                row_data += '\n<tr>\n <th scope="row">'+str(x.iloc[i,j])+'</th>'
            
            elif j == 1: #second column
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 2:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 3:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 4:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 5:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 6:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 7:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 8:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'

            elif j == 9: #last column
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>\n</tr>'

            else:
                row_data += '\n\t<td>'+str(x.iloc[i,j])+'</td>'
                
    return row_data

html_table = create_html_table(df)

html_file = '''<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Web Challenge: Data</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Latitude</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Plots</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="temp.html">Max Temperature</a></li>
                        <li><a class="dropdown-item" href="hum.html">Humidity</a></li>
                        <li><a class="dropdown-item" href="cloud.html">Cloudiness</a></li>
                        <li><a class="dropdown-item" href="wind.html">Wind Speed</a></li>
                     </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="compare.html">Comparison</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="data.html">Data</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        </header>
        <main class="container-md">
            <div class="row">
                <div class="table-responsive py-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">City_ID</th>
                                <th scope="col">City</th>
                                <th scope="col">Cloudiness</th>
                                <th scope="col">Country</th>
                                <th scope="col">Date</th>
                                <th scope="col">Humidity</th>
                                <th scope="col">Lat</th>
                                <th scope="col">Lng</th>
                                <th scope="col">Max Temp</th>
                                <th scope="col">Wind Speed</th>
                            </tr>
                        </thead>
                        <tbody>
                            ''' +html_table+ '''
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>
'''

with open('data.html', 'a') as f:
    f.write(html_file)